#main {
    background-color: #29AAE1;
    padding: 20px;
}

#main form {
    text-align: center;
}

#main form > label {
    display: block;
    margin-bottom: 15px;
}

#main form > input {
    text-align: center;
    background-color: #19c232;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 15px 25px;
    cursor: pointer;
}

#main form > input:hover {
    background-color: #580cd2;
}

#jokes {
    margin-top: 20px;
    text-align: center;
    margin: 30px 0 40px;
}